<app-homepage-hero id="home" cSectionObserver="home"></app-homepage-hero>
<app-homepage-services
	id="services"
	cSectionObserver="services"
></app-homepage-services>
<app-homepage-customers
	id="customers"
	cSectionObserver="customers"
></app-homepage-customers>
<app-homepage-about id="about" cSectionObserver="about"></app-homepage-about>
<app-homepage-testimonials
	id="testimonials"
	cSectionObserver="testimonials"
></app-homepage-testimonials>

<app-homepage-contact
	id="contact"
	cSectionObserver="contact"
></app-homepage-contact>
