<div class="container">
	<c-heading>
		<h2>Kontaktujte nás</h2>
		<p>Máte problém so škodcami? Sme tu pre vás!</p>
	</c-heading>

	<div class="contact-details">
		<div class="contact-item">
			<div class="contact-icon">
				<mat-icon>phone</mat-icon>
			</div>
			<div>
				<h4>Telefón</h4>
				<p>
					PO-PI: 07:00 - 22:00
					<br />
					<a href="tel:+421905123456">+421 905 123 456</a>
				</p>
			</div>
		</div>
		<div class="contact-item">
			<div class="contact-icon">
				<mat-icon>email</mat-icon>
			</div>
			<div>
				<h4>Email</h4>
				<p>
					Odpovieme do 24 hodín
					<br />
					<a href="mailto:info@deratexplus.sk">info@deratexplus.sk</a>
				</p>
			</div>
		</div>
		<div class="contact-item">
			<div class="contact-icon">
				<mat-icon>location_on</mat-icon>
			</div>
			<div>
				<h4>Adresa</h4>
				<p>Hlavná 123<br />900 01 Bratislava<br />Slovensko</p>
			</div>
		</div>
		<div class="contact-item">
			<div class="contact-icon">
				<mat-icon>nest_clock_farsight_analog</mat-icon>
			</div>
			<div>
				<h4>Pracovný čas</h4>
				<p>
					Pondelok - Piatok<br />07:00 - 16:00<br />Nonstop linka v
					prípade núdze
				</p>
			</div>
		</div>
	</div>
</div>
