<header>
	<div class="container">
		<div class="logo">
			<c-logo class="img"></c-logo>
			<h1>Deratex Plus</h1>
		</div>

		<div class="navig">
			<nav class="menu" mat-tab-nav-bar [tabPanel]="tabPanel">
				@for (link of menu; track link) {
					<a
						mat-tab-link
						tabindex="-1"
						href="#{{ link.id }}"
						(click)="active.set(link.id)"
						(keydown.enter)="active.set(link.id)"
						[active]="active() === link.id"
					>
						{{ link.label }}
					</a>
				}
			</nav>
			<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
		</div>

		<div class="actions">
			<a mat-flat-button href="tel:+421905123456"
				><mat-icon>phone</mat-icon> +421 905 123 456</a
			>

			<button
				mat-icon-button
				(click)="themeService.toggle()"
				matTooltip="Zmeniť tému"
			>
				<mat-icon>{{
					themeService.theme() === 'dark' ? 'light_mode' : 'dark_mode'
				}}</mat-icon>
			</button>
		</div>
	</div>
</header>
