// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors' as theme;

:root {
	--bg-with-gradient-intensity: 1;
	--bg-with-gradient:
		radial-gradient(
			ellipse 80% 50% at 50% -20%,
			rgba(88, 166, 255, calc(var(--bg-with-gradient-intensity) * 0.15)),
			transparent
		),
		radial-gradient(
			ellipse 60% 50% at 0% 50%,
			rgba(126, 231, 135, calc(var(--bg-with-gradient-intensity) * 0.1)),
			transparent
		),
		radial-gradient(
			ellipse 60% 50% at 100% 50%,
			rgba(188, 140, 255, calc(var(--bg-with-gradient-intensity) * 0.1)),
			transparent
		),
		radial-gradient(
			circle at 30% 50%,
			rgba(88, 166, 255, calc(var(--bg-with-gradient-intensity) * 0.05))
				0%,
			transparent 50%
		);
}

html {
	height: 100%;
	color-scheme: light;
	@include mat.theme(
		(
			color: (
				primary: theme.$primary-palette,
				tertiary: theme.$tertiary-palette,
			),
			typography: Poppins,
			density: 0,
		)
	);
	@include mat.system-classes();
	scroll-behavior: smooth;

	--mat-sys-on-surface-variant: color-mix(
		in srgb,
		var(--mat-sys-on-surface),
		var(--mat-sys-surface-container-lowest) 40%
	);

	.mat-mdc-outlined-button:not(:disabled) {
		border-color: currentColor;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);
	scroll-behavior: smooth;
}

h1 {
	font: var(--mat-sys-display-large);
	font-weight: bold;
	font-size: min(var(--mat-sys-display-large-size), 8vw) !important;
}

h2 {
	font: var(--mat-sys-display-medium);
	font-weight: bold;
	font-size: min(var(--mat-sys-display-medium-size), 7vw) !important;
}

h3 {
	font: var(--mat-sys-display-small);
	font-weight: bold;
	font-size: min(var(--mat-sys-display-small-size), 6vw) !important;
}

h4 {
	font: var(--mat-sys-title-large);
	font-weight: bold;
}

h5 {
	font: var(--mat-sys-title-medium);
	font-weight: bold;
}

h6 {
	font: var(--mat-sys-title-small);
	font-weight: bold;
}

.mat-mdc-card {
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		transform: scaleX(0);
		transform-origin: left;
		background: linear-gradient(90deg, #58a6ff, #7ee787, #bc8cff);
		content: '';
		transition: var(--transition);
	}

	&:hover::before {
		transform: scaleX(1);
	}

	.mat-mdc-card-header {
		padding: 2rem 2rem 0 !important;
	}
	.mat-mdc-card-content {
		flex: 1;
		padding: 0 2rem !important;
	}
	.mat-mdc-card-actions {
		padding: 2rem;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
