:host {
	display: block;
	padding: 6rem 0;

	.customers-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 2rem;
	}

	h4 {
		width: min-content;
		margin: 2rem 0 1rem;
	}

	.mat-mdc-card {
		background: var(--mat-sys-surface-container-lowest);
	}
}
